In [1]:
# Pandas is a powerful library used by data scientists

In [2]:
# CRUD - Create, Read, Update and Delete
# Everything you need to get up and running!
# Crash course for getting started with tabular data

In [3]:
import pandas as pd

In [6]:
# pd. then hit tab key shows all the available options

In [7]:
# Creat from a CSV

In [9]:
# df = pd.read_csv("telco_churn.csv")...to read in a data set

In [10]:
# df.head()...view first 5 rows of data or (10) to see first ten rows of data. Index 0.

In [11]:
# Create from a Dictionary

In [5]:
tempdict = {'col1':[1, 2, 3], 'col2':[4, 5, 6], 'col3':[7, 8, 9]}

In [6]:
dictdf = pd.DataFrame.from_dict(tempdict)

In [14]:
dictdf.head()

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [15]:
dictdf.tail()

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [17]:
dictdf.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [7]:
dictdf.dtypes

col1    int64
col2    int64
col3    int64
dtype: object

In [9]:
dictdf.describe()
# being called only on integers and floats in the dataset

       col1  col2  col3
count   3.0   3.0   3.0
mean    2.0   5.0   8.0
std     1.0   1.0   1.0
min     1.0   4.0   7.0
25%     1.5   4.5   7.5
50%     2.0   5.0   8.0
75%     2.5   5.5   8.5
max     3.0   6.0   9.0

In [11]:
# dictdf.describe(include='object')...do this to include other data types

In [12]:
#filtering columns

In [14]:
dictdf.col1
# to get a column with a space in the name...dictdf['International plan"]']

0    1
1    2
2    3
Name: col1, dtype: int64

In [15]:
# grab two columns, pass an array...dictdf(['State', 'International plan'])

In [ ]:
#github respository